:root {
  --primary-color: rgba(233, 237, 238, 0.778);
  --Secondary-color: rgba(65, 181, 231, 0.45);
  --overlay-color: rgba(63, 65, 63, 0.8);
  --menu-speed:0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  padding: 0.5rem;
}

p {
  padding: 1rem;
}

.btn {
  text-decoration: none;
  border-radius: 5px;
  color: rgb(5, 0, 0);
  background: var(--primary-color) ;
  font-size: 1rem;
  padding: 0.5rem 0.25rem;
  transition: all 1s ease-in-out;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.75;
  background: transparent;
}

body {
  position: relative;
}


.menu-wrap {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 45px;
  width: 50px;
  /* background: var(--primary-color); */
  z-index: 1;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  z-index: 1;
  opacity: 0;
}

input:hover {
  cursor: pointer;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all var(--menu-speed);
}

.hamburger > div,
.hamburger > div::before,
.hamburger > div::after {
  position: absolute;
  background: #fff;
  height: 3px;
  width: 40px;
  transition: all var(--menu-speed) ease-in-out;
}

.hamburger > div {
  top: 20px;

}

.hamburger > div::before {
  content: '';
  top: -10px;

}
.hamburger > div::after {
  content: '';
  top: 10px ;
}

#showcase {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url(../img/sawyer-JvNs_UmG9Uc-unsplash.jpg) no-repeat center center/cover;
}

#showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background: var(--Secondary-color);
  z-index: 0;
  opacity: 0.5;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  z-index: 1;
}

input:checked + .hamburger > div {
 transform: rotate(135deg);
}

input:checked + .hamburger > div::before ,
input:checked + .hamburger > div::after {
  top: -1px;
  transform: rotate(90deg);
  /* background: aquamarine; */
}







